*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container{
    width: 350px;
    background: #1c1c1c;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

h2{
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    background: #2a2a2a;
    border-radius: 8px;
    color: white;
    font-size: 14px;
}

input:focus{
    outline: 2px solid #0f9;
}

button{
    width: 100%;
    background: #0f9;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    color: #000;
    font-weight: bold;
    transition: 0.3s;
}

button:hover{
    background: #0c6;
}

p{
    margin-top: 15px;
    text-align: center;
    color: #ccc;
}

a{
    color: #0f9;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
